<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    	<context:annotation-config />
	<context:component-scan base-package="com.plexobject.docusearch.converter"/>
	<context:component-scan base-package="com.plexobject.docusearch.docs.impl"/>
	<context:component-scan base-package="com.plexobject.docusearch.docs"/>
	<context:component-scan base-package="com.plexobject.docusearch.domain"/>
	<context:component-scan base-package="com.plexobject.docusearch.etl"/>
	<context:component-scan base-package="com.plexobject.docusearch.http.impl"/>
	<context:component-scan base-package="com.plexobject.docusearch.http"/>
	<context:component-scan base-package="com.plexobject.docusearch.index.lucene"/>
	<context:component-scan base-package="com.plexobject.docusearch.index"/>
	<context:component-scan base-package="com.plexobject.docusearch.jms"/>
	<context:component-scan base-package="com.plexobject.docusearch.jmx.impl"/>
	<context:component-scan base-package="com.plexobject.docusearch.jmx"/>
	<context:component-scan base-package="com.plexobject.docusearch.lucene.analyzer"/>
	<context:component-scan base-package="com.plexobject.docusearch.lucene.analyzer"/>
	<context:component-scan base-package="com.plexobject.docusearch.lucene"/>
	<context:component-scan base-package="com.plexobject.docusearch.metrics"/>
	<context:component-scan base-package="com.plexobject.docusearch.persistence.bdb"/>
	<context:component-scan base-package="com.plexobject.docusearch.persistence.couchdb"/>
	<context:component-scan base-package="com.plexobject.docusearch.persistence.impl"/>
	<context:component-scan base-package="com.plexobject.docusearch.persistence"/>
	<context:component-scan base-package="com.plexobject.docusearch.query.lucene"/>
	<context:component-scan base-package="com.plexobject.docusearch.query"/>
	<context:component-scan base-package="com.plexobject.docusearch.service.impl"/>
	<context:component-scan base-package="com.plexobject.docusearch.service"/>
	<context:component-scan base-package="com.plexobject.docusearch.util"/>


	<bean id="sptialLookup" class="com.plexobject.docusearch.util.SptialLookup"/>
	<bean id="documentPropertiesHelper" class="com.plexobject.docusearch.docs.DocumentPropertiesHelper"/>
	<bean id="documentsDatabaseIndexer" class="com.plexobject.docusearch.docs.impl.DocumentsDatabaseIndexerImpl"/>
	<bean id="documentsDatabaseSearcher" class="com.plexobject.docusearch.docs.impl.DocumentsDatabaseSearcherImpl"/>
	<bean id="synonymAnalyzer" class="com.plexobject.docusearch.lucene.analyzer.SynonymAnalyzer"/>
	<bean id="documentRepository" class="com.plexobject.docusearch.persistence.couchdb.DocumentRepositoryCouchdb"/>
	<bean id="configRepository" class="com.plexobject.docusearch.persistence.impl.ConfigurationRepositoryImpl"/>
	<bean id="configService" class="com.plexobject.docusearch.service.impl.ConfigurationServiceImpl">
		<property name="configRepository" ref="configRepository"/>
	</bean>
	<bean id="indexService" class="com.plexobject.docusearch.service.impl.IndexServiceImpl">
		<property name="documentsDatabaseIndexer" ref="documentsDatabaseIndexer"/>
	</bean>
	<bean id="storageService" class="com.plexobject.docusearch.service.impl.RepositoryServiceImpl">
		<property name="documentRepository" ref="documentRepository"/>
	</bean>
	<bean id="searchService" class="com.plexobject.docusearch.service.impl.SearchServiceImpl">
		<property name="configRepository" ref="configRepository"/>
		<property name="documentRepository" ref="documentRepository"/>
		<property name="sptialLookup" ref="sptialLookup"/>
	</bean>

	<import resource="classpath:/weseed-activemq.xml" />
</beans>

